**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/*.user
**/*.suo
**/*.swp
**/Dockerfile*
**/docker-compose*
LICENSE
README.md
